<html>
    <head>
        <title>paypal integration</title>
    </head>

    <body>
        <h2>T-shirt</h2>
        <h4>Buy this for $10</h4>

        <form action="/pay" method="POST">
            <input type="submit" value="pay">
        </form>
    </body>
</html>